.form-login{
    form{
    
        @include media-breakpoint-down(md){
            // top: 95%;
            width: 100%;
            margin: 0 5px;
             }
             @include media-breakpoint-down(lg){
                // top: 95%;
                width: 100%;
                margin: auto;
                 }
        box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.4);
        display: inline-block;
        padding: 20px 30px;
        width: 25rem;
        margin-left: 30%;
        h6{
         font-size: 0.8rem;
         margin-bottom: 1rem;
        }

        form-label{
           margin-left: 1rem;
        }

        .submit-button{
            button{
                width: 30%;
            }
        }
        .forgot-text{
            a{
                color: $gray-600;
            }
        }
    }

}

